In [1]:
people = {
    'first': ['Corey', 'Jhon', 'Jane'],
    'last': ['Schafer', 'Doe', 'Dow'],
    'email': ['CoreyMSchafer@gmail.com', 'JhonDoe@example.com', 'JaneDow@example.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jhon      Doe      JhonDoe@example.com
2   Jane      Dow      JaneDow@example.com

In [5]:
df['email']

0    CoreyMSchafer@gmail.com
1        JhonDoe@example.com
2        JaneDow@example.com
Name: email, dtype: object

In [6]:
df.set_index('email')

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JhonDoe@example.com       Jhon      Doe
JaneDow@example.com       Jane      Dow

In [7]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jhon      Doe      JhonDoe@example.com
2   Jane      Dow      JaneDow@example.com

In [8]:
df.set_index('email', inplace=True)

In [9]:
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JhonDoe@example.com       Jhon      Doe
JaneDow@example.com       Jane      Dow

In [10]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JhonDoe@example.com',
       'JaneDow@example.com'],
      dtype='object', name='email')

In [12]:
df.loc['CoreyMSchafer@gmail.com', 'last']

'Schafer'

In [13]:
df.loc[0]

KeyError: 0

In [14]:
df.iloc[0]

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [15]:
df.reset_index(inplace=True)

In [16]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1      JhonDoe@example.com   Jhon      Doe
2      JaneDow@example.com   Jane      Dow