In [1]:
people = {
    'first': ['Corey', 'Jhon', 'Jane'],
    'last': ['Schafer', 'Doe', 'Doe'],
    'email': ['CoreyMSchafer@gmail.com', 'JhonDoe@example.com', 'JaneDow@example.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jhon      Doe      JhonDoe@example.com
2   Jane      Doe      JaneDow@example.com

In [5]:
df['last'] == 'Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [7]:
filtre = (df['last'] == 'Doe')

In [8]:
df[filtre]

  first last                email
1  Jhon  Doe  JhonDoe@example.com
2  Jane  Doe  JaneDow@example.com

In [9]:
df[df['last'] == 'Doe']

  first last                email
1  Jhon  Doe  JhonDoe@example.com
2  Jane  Doe  JaneDow@example.com

In [10]:
df.loc[df['last'] == 'Doe']

  first last                email
1  Jhon  Doe  JhonDoe@example.com
2  Jane  Doe  JaneDow@example.com

In [11]:
df.loc[filtre]

  first last                email
1  Jhon  Doe  JhonDoe@example.com
2  Jane  Doe  JaneDow@example.com

In [12]:
df.loc[filtre, 'email']

1    JhonDoe@example.com
2    JaneDow@example.com
Name: email, dtype: object

In [14]:
filtre = (df['last'] == 'Doe') & (df['first'] == 'Jane')

In [15]:
df.loc[filtre, 'email']

2    JaneDow@example.com
Name: email, dtype: object

In [16]:
filtre = (df['last'] == 'Schafer') | (df['first'] == 'Jane')

In [18]:
df.loc[filtre]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   Jane      Doe      JaneDow@example.com

In [19]:
df.loc[~filtre]

  first last                email
1  Jhon  Doe  JhonDoe@example.com